{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'img/logo/logo_saricell.png' %}" rel="icon">
    <title>Sari Cell - Transaksi Produk</title>
    <link href="{% static 'vendor2/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor2/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/ruang-admin.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor2/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <style>
         .form-error {
            color: #dc3545;
            font-size: 0.875rem;
            margin-top: 0.25rem;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }
        .hidden {
            display: none;
        }
        .form-label {
            font-weight: bold;
        }
        .form-control, .form-select {
            border-radius: 0.25rem;
            box-shadow: none;
        }
        .form-group {
            margin-bottom: 1.5rem;
        }
        .modal-content {
            border-radius: 0.5rem;
        }
        .modal-header {
            border-bottom: none;
        }
        .modal-title {
            font-weight: bold;
        }
        .btn-primary {
            background-color: #4e73df;
            border: none;
        }
        .btn-primary:hover {
            background-color: #2e59d9;
        }
        /* Styling untuk alert */
.alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    z-index: 1050; /* pastikan di atas elemen lainnya */
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
}

/* Variasi warna untuk jenis alert */
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Opsional: tambah animasi jika diinginkan */
@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.alert.fade-out {
    animation: fadeInOut 3s forwards;
}
@media (max-width: 768px) {
    .alert {
        width: 90%;
        font-size: 14px;
    }
}


    </style>
</head>

<body id="page-top">
    {% if messages %}
    <div class="alert alert-danger">
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
    
    <div id="wrapper">
          <!--Start Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'owner_dashboard' %}">
          <div class="sidebar-brand-icon">
            <img src="{% static 'img/logo/logo3.png' %}">
          </div>
          <div class="sidebar-brand-text mx-3">Sari Cell</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'owner_dashboard' %}">
            <i class="fas fa-fw fa-home icon-home" style="color: gray;"></i>
  
            <span>Dashboard</span></a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
          Stok & Daftar Produk
        </div>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
            aria-expanded="true" aria-controls="collapseBootstrap">
            <i class="fas fa-fw fa-database" style="color: gray;"></i>
  
  
            <span>Data Master</span>
          </a>
          <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Data Master</h6>
              <a class="collapse-item" href="{% url 'jenis_list' %}">Jenis</a>
              <a class="collapse-item" href="{% url 'provider_list' %}">Provider atau Merek</a>
              <a class="collapse-item" href="{% url 'jenisprovider_list' %}">Jenis Provider atau Merek</a>
              <a class="collapse-item" href="/stok">Produk atau Barang</a>
              <a class="collapse-item" href="{% url 'pulsa_list' %}">Pulsa</a>
            </div>
          </div>
        </li>
          <!-- Transaksi -->
          <hr class="sidebar-divider">
          <div class="sidebar-heading">
           Transaksi
          </div>
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage" aria-expanded="true"
              aria-controls="collapsePage">
              <i class="fas fa-fw fa-exchange-alt"></i>
              <span>Transaksi</span>
            </a>
            <div id="collapsePage" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Transaksi</h6>
                      <a class="collapse-item" href="{% url 'transaksi_list' %}">Transaksi Produk</a>
                      <a class="collapse-item" href="{% url 'transaksi_pulsa_list' %}">Transaksi Pulsa</a>
              </div>
            </div>
          </li>
              <!-- Transaksi -->
        <!-- Laporan -->
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
          Laporan 
        </div>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
            aria-controls="collapseForm">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Laporan Stok</span>
          </a>
          <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Laporan Stok</h6>
              <a class="collapse-item" href="{% url 'produk_report' %}">Laporan Produk</a>
              <a class="collapse-item" href="{% url 'pulsa_report' %}">Laporan Pulsa</a>
            </div>
          </div>
        </li>
          
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true"
            aria-controls="collapseTable">
            <i class="fas fa-fw fa-table"></i>
            <span>Laporan Transaksi</span>
          </a>
          <div id="collapseTable" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Laporan Transaksi</h6>
              <a class="collapse-item" href="{% url 'transaksi_report' %}">Laporan Transaksi Produk</a>
              <a class="collapse-item" href="{% url 'transaksi_pulsa_report' %}">Laporan Transaksi Pulsa</a>
            </div>
          </div>
        </li>
        <!-- Laporan -->  
  
        <hr class="sidebar-divider">
        <div class="version" id="version-ruangadmin"></div>
      </ul>
      <!-- End Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle" src="{% static 'img/boy.png' %}" style="max-width: 60px">
                                <span class="ml-2 d-none d-lg-inline text-white small">{{ user.username }}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'profile' %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <!-- Logout Form -->
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->
                <!-- Topbar -->
                <div class="container-fluid" id="container-wrapper">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Transaksi Produk</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'owner_dashboard' %}">Home</a></li>
                            <li class="breadcrumb-item">Transaksi</li>
                            <li class="breadcrumb-item active" aria-current="page">Transaksi produk</li>
                        </ul>
                    </div>
                    
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-6">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Transaksi</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_transaksi }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Keuntungan</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_keuntungan }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button to trigger modal -->
        <div class="row mt-4">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#transaksiModal">
                    Tambah Transaksi
                </button>
            </div>
        </div>
        

        <!-- Modal -->
        <div class="modal fade" id="transaksiModal" tabindex="-1" role="dialog" aria-labelledby="transaksiModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="transaksiModalLabel">Tambah Transaksi Produk</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{% url 'transaksi_list' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_jenisprovider" class="form-label">Silahkan Pilih Jenis Provider</label>
                                {{ form.jenisprovider }}
                            </div>
                            <div class="form-group hidden" id="produkField">
                                <label for="id_produk" class="form-label">Silahkan Pilih Produk</label>
                                {{ form.produk }}
                            </div>
                            <div class="form-group hidden" id="jumlahField">
                                <label for="id_jumlah" class="form-label">Masukkan Jumlah</label>
                                {{ form.jumlah }}
                            </div>
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-primary">Tambah Transaksi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Data Table -->
        <div class="card mb-4 mt-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Riwayat Transaksi Produk</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>ID</th>
                                <th>Produk</th>
                                <th>Jenis</th>
                                <th>Provider</th>
                                <th>Jumlah</th>
                                <th>Harga Modal</th>
                                <th>Harga Jual</th>
                                <th>Margin</th>
                                <th>Tanggal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaksi in transaksi_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ transaksi.id }}</td>
                                    <td>{{ transaksi.produk.nama_produk }}</td>
                                    <td>{{ transaksi.produk.jenis_provider.jenis.nama_jenis }}</td>
                                    <td>{{ transaksi.produk.jenis_provider.provider.nama_provider }}</td>
                                    <td>{{ transaksi.jumlah }}</td>
                                    <td>Rp {{ transaksi.produk.harga_modal|intcomma }}</td>
                                    <td>Rp {{ transaksi.produk.harga_jual|intcomma }}</td>
                                    <td>{{ transaksi.hitung_margin|intcomma }}</td>
                                    <td>{{ transaksi.tanggal }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - 
                  <b><a href="https://indrijunanda.gitlab.io/" target="_blank">Sari Cell</a></b>
                </span>
              </div>
            </div>
          </footer>
          <!-- Footer -->
</div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>


    <script src="{% static 'vendor2/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor2/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor2/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/ruang-admin.min.js' %}"></script>
    <script src="{% static 'vendor2/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor2/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable(); // Initialize the DataTable

            // Show/hide fields based on jenisprovider selection
            $('#id_jenisprovider').change(function() {
                if ($(this).val()) {
                    $('#produkField, #jumlahField').removeClass('hidden');
                } else {
                    $('#produkField, #jumlahField').addClass('hidden');
                }
            });
             // Optional: AJAX call to dynamically load products based on selected jenisprovider
             $('#id_jenisprovider').change(function() {
                var jenisproviderId = $(this).val();
                if (jenisproviderId) {
                    $.ajax({
                        url: '/get-products-by-jenisprovider/', // Adjust the URL as per your view
                        data: {
                            'jenisprovider_id': jenisproviderId
                        },
                        success: function(data) {
                            $('#id_produk').html(data);
                        }
                    });
                }
            });
        });
        document.addEventListener('DOMContentLoaded', function() {
    const alerts = document.querySelectorAll('.alert');
    alerts.forEach(alert => {
        setTimeout(() => {
            alert.classList.add('fade-out');
        }, 3000); // Waktu delay dalam milidetik (misal 3000 ms = 3 detik)
    });
});

    </script>
</body>

</html>
